@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-violet: hsl(263, 55%, 52%);
    --clr-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-dark-blackish-blue: hsl(219, 29%, 14%);
    --clr-light-gray: hsl(0, 0%, 81%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/*utility classes*/ 
.color-white {
    color: white;
}

.color-grey-blue {
    color: var(--clr-dark-grayish-blue);
}

.bg-white {
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--clr-light-grayish-blue);
}

@media (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        column-gap: 0;
      
    }
}

.card {
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.card__person {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.card__person-image {
    border-radius: 9999px;
    border: 2px solid var(--clr-light-gray);
    float: left;
    width: 3rem;
}

.card__person-about {
    padding-left: 2rem;
}

.card__person-status {
    display: block;
    opacity: 0.5;
}

.card__teaser {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1em;
    position: relative;
    z-index: 2;
}

.card__teaser-quotation {
    position: absolute;
    top: 0;
    right: 6rem;
    /*to adjust the size of the element because of my bigger body font-size
    (used standard 16px instead of 13px)*/
    transform: scale(1.3);
    transform-origin: top;
}

.card__review {
    opacity: 0.7;
}


.card__daniel {
    background-color: var(--clr-violet);
    grid-column-end: span 2;
    position: relative;
}

/*
.card__daniel > .card__teaser::after {
    content: url(./images/bg-pattern-quotation.svg);
    /*opacity: .5;
    position: absolute;
    top: 0;
    right: 1.5rem;
}
*/

.card__jonathan {
    background-color: var(--clr-dark-grayish-blue);
}

.card__kira {
    grid-row: span 2;
    grid-column-end: -1;
}

.card__patrick {
    background-color: var(--clr-dark-blackish-blue);
    grid-column: span 2;
}

.card__jeanette {
    grid-column-start: 1;
}